RESEND_API_KEY=
ORDER_FROM_EMAIL=orders@goodmorningpeptides.com
ORDER_ADMIN_EMAIL=
ORDER_REPLY_TO_EMAIL=
SITE_URL=https://goodmorningpeptides.com

PAYMENT_ZELLE_ENABLED=true
PAYMENT_ZELLE_LABEL=
PAYMENT_ZELLE_INSTRUCTIONS=

PAYMENT_VENMO_ENABLED=true
PAYMENT_VENMO_LABEL=
PAYMENT_VENMO_INSTRUCTIONS=

PAYMENT_CASHAPP_ENABLED=true
PAYMENT_CASHAPP_LABEL=
PAYMENT_CASHAPP_INSTRUCTIONS=
